<div class="page-container">
    <div class="sidebar">
        <div class="list-items">
            <img src="https://source.unsplash.com/random/800x600" >
            <div class="list-item">
                <i class="material-icons">label</i>Who am i
            </div>
            <div class="list-item">
                <i class="material-icons">label</i>Skills
            </div>
            <div class="list-item">
                <i class="material-icons">label</i>Certificates
            </div>
            <div class="list-item">
                <i class="material-icons">label</i>Posts
            </div>        
        </div>
    </div>
</div>